name: CI

on:
  push:
    branches: [master]
    paths_ignore: ["**.md"]
  pull_request:
    paths_ignore: ["**.md"]
  schedule:
  - cron: "0 0 1 * *"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        version: ["1.9.1", "2.1.1", "latest"]
    steps:
    - name: Test the plugin
      uses: asdf-vm/actions/plugin-test@v4
      with:
        version: ${{ matrix.version }}
        command: cmctl version --client
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: make lint
